@font-face{ 
	font-family: 'quicksand-bold';
	src: url('fonts/quicksand-bold-webfont.eot');
	src: url('fonts/quicksand-bold-webfont.eot?#iefix') format('embedded-opentype'),
	     url('fonts/quicksand-bold-webfont.woff') format('woff'),
	     url('fonts/quicksand-bold-webfont.ttf') format('truetype'),
	     url('fonts/quicksand-bold-webfont.svg#webfont') format('svg');
}

@font-face{ 
	font-family: 'quicksand-regular';
	src: url('fonts/quicksand-regular-webfont.eot');
	src: url('fonts/quicksand-regular-webfont.eot?#iefix') format('embedded-opentype'),
	     url('fonts/quicksand-regular-webfont.woff') format('woff'),
	     url('fonts/quicksand-regular-webfont.ttf') format('truetype'),
	     url('fonts/quicksand-regular-webfont.svg#webfont') format('svg');
}

@font-face{ 
	font-family: 'sourcesanspro-regular';
	src: url('fonts/sourcesanspro-regular-webfont.eot');
	src: url('fonts/sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
	     url('fonts/sourcesanspro-regular-webfont.woff') format('woff'),
	     url('fonts/sourcesanspro-regular-webfont.ttf') format('truetype'),
	     url('fonts/sourcesanspro-regular-webfont.svg#webfont') format('svg');
}

@font-face{ 
	font-family: 'sourcesanspro-light';
	src: url('fonts/sourcesanspro-light-webfont.eot');
	src: url('fonts/sourcesanspro-light-webfont.eot?#iefix') format('embedded-opentype'),
	     url('fonts/sourcesanspro-light-webfont.woff') format('woff'),
	     url('fonts/sourcesanspro-light-webfont.ttf') format('truetype'),
	     url('fonts/sourcesanspro-light-webfont.svg#webfont') format('svg');
}

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Nunito:700);

/* HTML5 Reset
---------------------------------------------------------------------------------------------------- */

/* Baseline Normalize
--------------------------------------------- */
/* normalize.css v3.0.1 | MIT License | git.io/normalize */

html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background:0 0}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:700}dfn{font-style:italic}h1{font-size:2em;margin:.67em 0}mark{background:#ff0;color:#222}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:1em 40px}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}pre{overflow:auto}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0}textarea{overflow:auto}optgroup{font-weight:700}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}

/* Box Sizing
--------------------------------------------- */

*,
input[type="search"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
}

/* Float Clearing
--------------------------------------------- */

.after-entry:before,
.author-box:before,
.clearfix:before,
.entry:before,
.entry-content:before,
.nav-primary:before,
.nav-secondary:before,
.pagination:before,
.site-container:before,
.site-footer:before,
.site-header:before,
.site-inner:before,
.widget:before,
.wrap:before {
	content: " ";
	display: table;
}

.after-entry:after,
.author-box:after,
.clearfix:after,
.entry:after,
.entry-content:after,
.nav-primary:after,
.nav-secondary:after,
.pagination:after,
.site-container:after,
.site-footer:after,
.site-header:after,
.site-inner:after,
.widget:after,
.wrap:after {
	clear: both;
	content: " ";
	display: table;
}


/* Defaults
---------------------------------------------------------------------------------------------------- */

/* Typographical Elements
--------------------------------------------- */

body {
	background-color: #fff;
	color: #333333;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.75;
	letter-spacing: 0.25;
	margin: 0;
	-webkit-font-smoothing: antialiased;
}

a,
button,
input:focus,
input[type="button"],
input[type="reset"],
input[type="submit"],
textarea:focus,
.archive .content .entry,
.button,
.gallery img {
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition:    all 0.2s ease-in-out;
	-ms-transition:     all 0.2s ease-in-out;
	-o-transition:      all 0.2s ease-in-out;
	transition:         all 0.2s ease-in-out;
}

::-moz-selection {
	background-color: #5161AC;
	color: #fff;
}

::selection {
	background-color: #5161AC;
	color: #fff;
}

a {
	color: #e86b0d;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

p {
	margin: 0 0 25px;
	padding: 0;
}

ol,
ul {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
}

b,
strong {
	font-weight: 700;
}

blockquote,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 40px;
}

blockquote::before {
	content: "\201C";
	display: block;
	font-size: 30px;
	height: 0;
	left: -20px;
	position: relative;
	top: -10px;
}


/* Headings
--------------------------------------------- */

h1,
h2, 
h3, 
h4, 
h5, 
h6 {
	font-family: 'Nunito', sans-serif;
	font-weight: 700;
	margin: 0;
	-webkit-font-smoothing: antialiased;
}

h1 {
	font-size: 36px;
	line-height: 1.25;
	margin: 0 0 40px;
}

.subtitle {
	font-size: 18px;
}

h2 {
	font-size: 30px;
	color: #e86b0d;
	margin: 0 0 20px;
}

h3 {
	font-size: 24px;
	font-family: 'Open Sans', sans-serif;
}

h4 {
	font-size: 20px;
	color: #5161ac;
}

h5 {
	font-size: 18px;
	text-transform: uppercase;
	font-size: 12px;
}

h6 {
	font-size: 18px;
	text-transform: uppercase;
	font-size: 12px;
	color: #e86b0d;
}

/* Objects
--------------------------------------------- */

embed,
iframe,
img,
object,
video {
	max-width: 100%;
}

img {
	height: auto;
}

/* Lists
--------------------------------------------- */

ol,
ul {
	margin-bottom: 28px;
	margin-left: 40px;
}

ol > li {
	list-style-type: decimal;
}

ul > li {
	list-style-type: disc;
}

ol ol,
ul ul,
ol ul,
ul ol {
	margin-bottom: 0;
}


/* Alerts
--------------------------------------------- */

.red {
	color: red;
}


/* Structure and Layout
---------------------------------------------------------------------------------------------------- */

/* Site Containers
--------------------------------------------- */

.site-container {
	background-color: #fff;
}

.site-inner {
	padding: 60px 10%;
}